/* importing fontface */
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@500;800&display=swap");
/* start my framework */
body {
  font-family: "Sarabun", sans-serif;
  background-color: #f6f6f6;
}
a:hover{
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
}
.logo-mobile {
  display: none;
}
.box-hover {
  display: block;
}
/* start navbar */
.custom-navbar {
  background-color: #ffffffea !important;
  padding: 25px 100px;
}
.custom-navbar .nav-item {
  margin-left: 40px;
}
.custom-navbar .nav-item .nav-link {
  color: #748a96;
  font-size: 16px;
  transition: all ease 0.2s;
  padding: 10px 20px !important;
}
.custom-navbar .nav-item .nav-link:hover {
  color: #e17ef2;
}
.nav-custom-border {
  border: 2px solid #748a96;
  border-radius: 3px;
}
.nav-custom-border:hover {
  border: 2px solid #748a96;
  background-color: #748a96;
  color: #fff !important;
}
.nav-custom-bg {
  background-color: #181e82;
  border: 2px solid #181e82;
  color: #fff !important;
  border-radius: 3px;
}
.nav-custom-bg:hover {
  background-color: #e17ef2;
  border: 2px solid #e17ef2;
}
.custom-search {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  transition: all ease-in-out 0.8s;
  width: 50px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid transparent;

  border-right: 1px solid #e17ef2;
  /* padding: 5px; */
}

.custom-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  /* line-height: 30px; */
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  /* border-radius: 20px; */
  padding: 10px;
  transition: all ease-in-out 0.8s;
}

.custom-fa {
  box-sizing: border-box;
  padding: 10px;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  right: 7px;
  /* border-radius: 50%; */
  color: #e17ef2;
  text-align: center;
  font-size: 1em;
  transition: all ease-in-out 0.8s;
}

.custom-search:hover {
  width: 600px;
  cursor: pointer;
  border: 1px solid #e17ef2;
  border-radius: 4px;
  transition: all ease-in-out 0.8s;
}

.custom-search:hover .custom-input {
  display: block;
  transition: all ease-in-out 0.8s;
}
.box-hover {
  position: relative;
}
.box-hover .img-logo {
  position: absolute;
  top: -7px;
  left: -35px;
  transition: all ease 0.3s;
}
.box-hover .img3 {
  transform: translate(6px, -10px);
  opacity: 0.8;
}
.box-hover .img2 {
  transform: translate(0px, -5px);
  opacity: 0.7;
}
.box-hover .img1 {
  transform: translate(-8px, 0px);
  opacity: 0.8;
}
.box-hover:hover .img3 {
  transform: translateX(0);
  opacity: 1;
}
.box-hover:hover .img2 {
  transform: translateY(0);
  opacity: 1;
}
.box-hover:hover .img1 {
  transform: translateX(0);
  opacity: 1;
}
.box-hover .img-logo-top {
  transition: all ease 0.3s;
}
.box-hover:hover .img-logo-top {
  transform: translateX(-6px);
}
/* .custom-search:hover .custom-fa{
  background: #07051a;
  color: white;
} */
.footer-logo-box .box-hover .img-logo-top {
  transform: translateX(-150px);
}
.footer-logo-box .box-hover:hover .img-logo-top {
  transform: translateX(-156px);
}
/* end navbar */

/* ************************************************ */

/* start floating button */
.float {
  position: fixed;

  bottom: 40px;
  right: 60px;
  text-align: center;
}
/* end floating button */

/* ************************************************ */

/* start hero section */
.hero {
  padding: 200px 0;
}
.hero-info {
  margin-top: 150px;
  margin-bottom: 50px;
}
.hero-info h1 {
  font-weight: bold;
  font-size: 50px;
  color: #181e82;
  letter-spacing: 1px;
}
.hero-info p {
  font-size: 16px;
  color: #748a96;
  margin: 30px 0;

  width: 98%;
}
.btn-hero-creat {
  color: #fff;
  background-color: #181e82;
  border-radius: 3px;
  padding: 10px 70px;
}
.btn-hero-creat:hover {
  color: #fff;
}
/* end hero section */

/* ************************************************ */

/* start future section */
.future {
  padding: 150px 0;
}
.future-box h1 {
  font-weight: bold;
  font-size: 50px;
  color: #181e82;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
  line-height: 66px;
}
.future-box h1 span {
  color: #e17ef2;
}
.future-box h3 {
  font-size: 38px;
  color: #181e82;
  text-transform: uppercase;
  line-height: 50px;
  padding: 30px 0;
  padding-bottom: 50px;
  width: 88%;
  margin: 0 auto;
}
/* end future section */

/* ************************************************ */

/* start iner-content */
.iner-content {
  padding: 150px 0;
}
.iner-box h2 {
  font-weight: bold;
  font-size: 50px;
  color: #e17ef2;
  letter-spacing: 1px;
  text-transform: uppercase;

  line-height: 66px;
  margin-bottom: 30px;
}
.p-span {
  color: #e17ef2;
  font-size: 18px;
}
.slider-box h3 {
  font-size: 38px;
  color: #181e82;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  width: 90%;
  margin: 0 auto;
}

.carousel-indicators li {
  background-color: transparent;
  border: 2px solid #748a96;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
.carousel-indicators {
  bottom: 0;
  top: -180px;
}
.carousel-indicators .active {
  background-color: #e17ef2;
  border: 2px solid #e17ef2;
}
.carousel-control-next {
  right: -80px;
}
.carousel-control-prev {
  left: -80px;
}
.carousel-control-prev-icon {
  background-image: url(../images/arrow-left.png);
  width: 70px;
  height: 70px;
}
.carousel-control-next-icon {
  background-image: url(../images/arrow-right.png);
  width: 70px;
  height: 70px;
}
/* end iner-content */

/* ************************************************ */

/* start test section */
.test {
  padding-top: 100px;
  padding-bottom: 150px;
}
.test-head h2 {
  font-weight: bold;
  font-size: 50px;
  color: #181e82;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;

  line-height: 66px;
}
.slider-box-2 h3 {
  width: 78%;
}
.slider-box q::after,
.slider-box q::before {
  font-size: 60px;
  font-weight: bolder;
}
.test-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: initial;
  margin-right: 15px;
}
.test-box p {
  color: #748a96;
  font-size: 16px;
  text-align: center;
  margin-top: 50px;
}
.test .carousel-control-next,
.carousel-control-prev {
  top: 0px;
}
/* end test section */

/* ************************************************ */

/* start footer */
footer {
  background-color: #181e82;
  padding: 15px 100px;
  padding-top: 40px;
}
.footer-links {
  text-decoration: none;
  list-style: none;
  float: right;
}
.footer-links li {
  display: inline-block;
  margin-left: 40px;
}
.footer-links li a {
  color: #fff;
  font-size: 12px;
}
/* end footer */
/* ***************************************** */
/* start navbar-after reg */
.img-pro {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #181e82;
  margin-top: -5px;
}
/* .img-pro:active ,.img-pro:focus-visible,.img-pro:hover {
 
    border: 3px solid #e17ef2 !important;
} */
.custom-navbar .dropdown-toggle::after {
  display: none;
}
.custom-drop-3 {
  margin: 1.6rem 0 0;
  border: 1px solid #748a96;
  border-radius: 3px;
}
.custom-drop-3 .dropdown-item {
  padding: 1rem 3rem;
  font-size: 16px;
  color: #748a96;
  transition: all ease 0.2s;
}
.custom-drop-3 .dropdown-item:hover {
  background-color: transparent;
  color: #e17ef2;
}
.custom-drop-2 {
  margin: 1.6rem 0 0;

  min-width: 25rem;
}

.dropdown-item:hover {
  background-color: transparent;
}
.mark-read h6 {
  color: #181e82;
  font-size: 12px;
  padding-top: 5px;
}
.mark-read h6 span {
  margin-bottom: 3px;
  margin-left: 2px;
}
.msg-info h4 {
  font-weight: bold;
  color: #748a96;
  font-size: 12px;
}
.msg-info h5 {
  color: #748a96;
  font-size: 12px;
}

.msg-info h6 {
  font-size: 9px;
  color: #e17ef2;
}
.custom-padding-drop {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.custom-drop-2 .custom-padding-drop:hover {
  background-color: #e17ef217;
}
.dropdown-divider {
  margin: 0;
}
/* end navbar after reg */
/* ************************************************ */
/* start signUp1 page */
.signup  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #181e82;
  color: #fff;
  border: 1px solid #181e82;
}
.signup  .nav-pills .nav-link{
  background-color: #fff;
  color: #181e82;
  border: 1px solid #181e82;
  height: 50px;
  padding: 10px 75px;
  transition: all ease 0.2s;
  margin: 0 10px;
  border-radius: 4px;
}
.signup {
  margin: 150px 100px;
  padding: 70px 50px;
  background-color: #fff;
}



.sign-form {
  margin-top: 70px;
}

.btn-sign-sm {
  height: 40px;
  /* padding: 5px 75px; */
  padding-left: 50px;
  padding-right: 50px;
  background-color: #181e82;
  color: #fff;
  margin-top: 20px;

  border-radius: 4px;
}
.btn-sign-sm:hover {
  color: #fff;
}
.sign-input {
  height: 50px;
  border: 1px solid #748a96;
  padding-left: .75rem;
  margin-bottom: 45px;
  transition: all ease 0.2s;
}
.sign-input:hover {
border-color: #e17ef2;
}
.sign-input::placeholder {
  color: #748a96;
  font-size: 16px;
}
.custom-select{
  color: #748a96;
  font-size: 16px;
}
.agree {
  color: #181e82;
  transition: all ease 0.3s;
  text-decoration: none;
  font-size: 16px;
}
.agree:hover {
  color: #e17ef2;
  text-decoration: none;
}

.sign-form input[type="checkbox"] {
  visibility: hidden;
}
.sign-form label {
  cursor: pointer;
  margin-left: -27px;
}
.sign-form input[type="checkbox"] + label:before {
  border: 1px solid #6dc8d1;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 5px 10px;

  padding: 0;
  vertical-align: top;
  width: 16px;
  background: #6dc8d1;
  border-radius: 2px;
}
.sign-form input[type="checkbox"]:checked + label:before {
  background: #6dc8d1;
  color: #181e82;
  content: "\2713";
  text-align: center;
}
.sign-form input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.sign-form input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.or {
  color: #1e359b;
  font-size: 18px;
  margin-top: 20px;
  opacity: 1 !important;
}
.or:hover {
  color: #1e359b;
}
.or::after {
  content: " ";
  width: 80%;
  height: 2px;
  background-color: #181e82;
  position: absolute;
  left: 260px;
  top: 50px;
}
.sign-social {
  margin-top: 25px;
}
.sign-social li {
  display: inline-block;
}
.sign-social li a svg {
  fill: #748a96;
  color: #748a96;
  transition: all ease 0.3s;
}
.sign-social li a:hover .face-book {
  fill: #5189c7;
  color: #5189c7;
}
.sign-social li a:hover .face-book2 {
  fill: #236ba3;
  color: #236ba3;
}
.last-step h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  color: #181e82;
}
.last-step small {
  text-transform: capitalize;
  color: #748a96;
  font-size: 14px;
  margin-left: 7px;
}
.last-step h2 span {
  color: #e17ef2;
}
.skipe {
  color: #748a96;
  font-size: 16px;
}
.skipe:hover {
  color: #748a96;
  text-decoration: none;
}
.last-form{
  margin-top: 50px;
}
.last-form label{
  color: #748A96;
  font-weight: bold;
  font-size: 21px;
  margin-top: 5px;
}
.ver small{
  color: #748A96;
  font-size: 10px;
}
.dro-flag{
  height: 48px;
}
.label-flage{
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid #748a96;
}
.btn-Male{
  height: 50px;
  border: 1px solid #748A96;
  color: #748A96;
  padding: 10px 75px;
  margin-right: 20px;

}
.btn-Male:hover{

  color: #748A96;
}
.btn-Female{
  height: 50px;
  border: 1px solid #181E82;
  color: #fff;
  background-color:#181E82 ;
  padding: 10px 75px;
}
.btn-Female:hover{
  
  color: #fff;
}
.head-invite h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  color: #181E82;
}
.custom-h{
  height: 500px;
}
.text-input{
  height: 150px !important;
  border-bottom: 1px solid #748a9670 !important ;
  border-radius: 0;
  resize: none;

}
label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}
.attach-custom{
  margin-right: 40px;
}
.bottom-text svg{
fill: #748A96;
transition: all ease 0.2s;
}
.bottom-text a:hover svg{
  fill: #E17EF2;
  }
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#upload-photo2 {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.text-input:focus {
  color: #748A96;
  background-color: #fff;
  border-color: transparent ;
  outline: 0;
  box-shadow: none !important;
}
.text-input::placeholder {
 padding: 0 !important;
}
.c-input{
  border: 1px solid #748a96;
  border-radius: .25rem;
  transition: all ease 0.2s;
  height: 250px !important;
  padding:  30px;

}
.c-input:hover{
  border-color: #e17ef2;
 
}
.b-none{
  border:none ;
}
.text-input::placeholder{
  padding: 20px;
}
#b-dropzone-wrapper {
  border: 1px solid black;
  }
  
  #b-dropzone-wrapper .full-width {
    width: 100%
  }
  
  #b-dropzone-wrapper textarea {
    resize: none;
    border: none;
    width: 99%;
  }
  
  #my-dropzone {
    top: -5px;
    position: relative;
    border: none;
  }
  /* start privacy page */
  .privecy{
    margin: 150px 100px;
  }
  .term-card{
    padding: 50px;
    background-color: #fff;
    /* margin: 20px 85px; */
    margin-top: 30px;
  
  }

  .privecy-head h2{
    color: #E17EF2;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
  }
  .download{
    color: #748A96;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 10px;
    font-weight: normal;
  }
  .privecy-head svg{
transition: all ease 0.2s;
  }
  .privecy-head a:hover svg{
    fill: #E17EF2;
  }
  .privecy-head a:hover span{
    color: #E17EF2;
    text-decoration: none;
  }
  .privecy-head a {
    transition: all ease 0.2s;
    text-decoration: none;
  }
  .privecy-head a span{
    transition: all ease 0.2s;
  }
  .term h4{
    color: #748A96;
    font-size: 16px;
    line-height: 20px;
  }
  .term-list{
    color: #748A96;

  }
  .head-term{
    margin-bottom: 30px;
  }
  /* start price page */
  .price{
    padding: 200px  0;
  }
  .price-head h2{
    font-size: 50px;
    color: #181E82;
    font-weight: bold;
    letter-spacing:2px;


  }
  .price-head h2 span{
    color: #E17EF2;
  }
  .price-card {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 100px;
    padding: 80px;
    height: 600px;
  }
  .price-card h3{
    font-size: 50px;
    color: #181E82;
    font-weight: bold;
    letter-spacing:2px;
    text-transform: uppercase;
  }
  .price-card h4{
    color: #E17EF2;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing:2px;
    text-transform: uppercase;
  }
  .price-card button{
    margin-bottom: 40px;

  }
  .price-card p{
    font-size: 16px;
    color: #748A96;
    width: 43%;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 40px 0;

  }
.price-footer {
  padding:50px 80px;
}
  .price-footer h5{
    font-size: 16px;
    color: #748A96;
    padding-bottom: 20px;
    border-bottom: 1px solid #748a9671;
  }
  .pre li{
    display: inline-block;
    margin-right: 10px;
  }
  .pre li span{
    color: #707070;
    font-size: 10px;
  }
  .price-card h5{
    color: #181E82;
    font-size: 16px;
    text-transform: uppercase;

  }
.p-footer{
  background-color: #E17EF2;
  position: relative;
  width: 100%;
  height: 19px;
  padding: 0 !important;
  border-bottom-left-radius:15px ;
  border-bottom-right-radius:15px ;
  bottom: 17px;
  right: 0;
}
.badge-value{
  position: absolute;
  right: 15px;
  top: 100px;

}
/* start notify */
.notif{
  padding: 150px 80px;
  padding-bottom: 50px;
}
.notif-scroll{
  background-color: #fff;
  border-radius: 8px;
  padding-top: 150px;
  padding-bottom: 50px;
  height: 750px;
  overflow-y: scroll;
}
.notif-card{
  padding: 70px;
  border: 1px solid #70707017;
  border-radius: 8px;
  margin-bottom: 30px;
}
.img-pro-2{
  width: 117px;
  height: 117px;
  border-radius: 50%;
  margin-top: -25px;
}
.msg-info-2{
  margin-left: 150px;

}
.msg-info-2 h5{
font-weight: bold;
color: #181E82;
font-size: 21px;
}
.msg-info-2 h5 span{
  font-weight: normal;
color: #E17EF2;
font-size: 16px;
}
.msg-info-2 h6{
  font-size: 21px;
  color: #748A96;
}
.msg-info-2 h6 span{
color: #748a9696;
font-size: 16px;
}
.notif-card{
  transition: all ease 0.3s;
}
.notif-card:hover{
  background-color: #e17ef217;
}
/* start  creat new form */
.head-creat h2{
  font-weight: bold;
  font-size: 21px;
  color: #748A96;
text-transform: uppercase;
}
/* start all msg page */
.big-chat{
  padding-top: 50px;
}
.chat-nav{
  margin-top: 90px;
}
.msg-list{
  list-style: none;
}
.msg-list li{
  display: inline-block;
  margin-right: 30px;
}
.msg-list li h3{
 font-size: 24px;
 color: #181E82;
}

.box-search{
  border: 1px solid #181E82;
  border-right: none;

}
.btn-meg i{
  color: #E17EF2;

}
.btn-meg {
  border: 1px solid #181E82;
  border-left: none;
}
.box-search::placeholder{
  font-size: 14px;
  color: #748a9691;
}
.img-pro3{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.msg-info-3 h5{
  color: #748A96;
  font-size: 17px;
  font-weight: bold;
  padding-top:15px;
}
.notif-card-2{
  padding:20px;
}
.notif-card-2 img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 10px;
}
.notif-card-2 .msg-info-3 {
  margin-left: 120px;
}
.msg-info-3 h5{
  color: #748A96;
  font-size: 17px;
  font-weight: bold;
}
.msg-info-3 h6{
  color: #748A96;
  font-size: 17px;
  width: 65%;

}
.msg-info-3 h6 span{
  color: #E17EF2;
  font-size: 10px;

}
.notif-scroll-2{
  height: 915px;
}
.chat-room{
  margin-top: 150px;
  background-color: #fff;
  height: 70px !important;
  padding-top: 10px;
  border-radius: 5px;
  border: 1px solid #748a9671;
  margin-right: 5px;

}
.chat-send{
  resize: none;
  background-color: transparent;
  height: 50px !important;
  margin-bottom: 200px;
  
}
.send svg{
  fill: #748A96;
  transition: all ease 0.2s;
}
.send a:hover svg{
  fill: #E17EF2;
}
.d-box li{
  display: inline-block;
  margin-right: 20px;
}
.d-box{
  list-style: none;
}
.chat-card{
  height: 450px;
  margin-top: 200px;
}
.msg-info-33 h5{
  color: #748A96;
  font-size: 12px;

}
.msg-info-33{
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-left: 60px;
  padding-bottom: 10px;
  width: 35%;
}

/* ********************* start my media query*************************** */
/* start media query for med-screen */
@media only screen and (max-device-width: 1366px) {
  .chat-card {
    height: 240px;
    margin-top: 200px;
}
  .notif-scroll-2{
    height: 700px;
  }

  .price-card p {

    width: 70%;
 
}
  .hero-box img {
    float: none !important;
  }
  .hero {
    padding: 150px 0;
  }
  .footer-links li {
    margin-left: 26px;
  }
  .custom-search:hover {
    width: 400px;
  }
  .footer-logo-box .box-hover .img-logo-top {
    transform: translateX(-60px);
  }
  .footer-logo-box .box-hover:hover .img-logo-top {
    transform: translateX(-66px);
  }
  .or::after {
    width: 70%;
  }
  .sign-social svg {
    width: 70px;
  }
  .sign-social img {
    width: 70px;
  }
  .btn-Male,.btn-Female{

    padding: 10px 50px;

  
  }
  .last-form label {

    font-size: 16px;
   
}
.privecy {
  margin: 150px 60px;
}
}
/* end media query for med-screen */
/* ************************************************ */
/* start media query for ipad */
@media only screen and (max-device-width: 768px) {
  .hero-info h1 {
    font-size: 30px;
  }
  .hero-info {
    margin-top: 120px;
  }
  .hero-info p {
    font-size: 14px;
    width: 100%;
  }
  .future-box h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .future-box h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .iner-box h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .slider-box h3 {
    font-size: 20px;
    line-height: 35px;
  }
  .carousel-control-prev {
    left: -60px;
  }
  .carousel-control-next {
    right: -60px;
  }
  .slider-box q::after,
  .slider-box q::before {
    font-size: 60px;
  }
  .test-head h2 {
    font-size: 35px;
  }
  .custom-navbar {
    background-color: #ffffffea !important;
    padding: 20px;
  }
  .custom-navbar .nav-item {
    margin-left: 0px;
    margin-top: 20px;
  }
  .custom-navbar .nav-item .nav-link {
    padding: 10px !important;
  }
  .custom-drop-2 {
    margin: 1.6rem 0 0;
    min-width: 20rem;
  }
  .custom-padding-drop {
    padding: 0.25rem 1rem;
  }
  .img-pro {
    margin-left: -7px;
  }
  .box-hover {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
  .signup {
    margin: 150px 40px;
  }
  .or::after {
    width: 45%;
  }
  .sign-social svg {
    width: 60px;
  }
  .sign-social img {
    width: 60px;
  }
  .signup .nav-pills .nav-link{
    padding: 10px 32px;

  }
  .sign-social {
    margin-top: 0px;
  }
  .last-form label {
    font-size: 12px;
}
.btn-Male, .btn-Female {
  padding: 10px 20px;
}
.custom-select{
  font-size: 13px;
  color: #748A96;
}
.sign-input::placeholder{
  font-size: 13px;

}
.privecy {
  margin: 150px 30px;
}
.price-card h3,.price-card h4 {
  font-size: 30px;

}
.price-card {
  padding: 20px;
  padding-top: 50px;
  height: 500px;

}
.badge-value {

  width: 80px;
}
.price-card button {
  height: 60px;
}
.price-card p {
  width: 100%;
  font-size: 14px;
}
.price-footer {
  padding: 50px 20px;
}
.price-footer h5 {
  font-size: 14px;

}
.price {
  padding: 150px 0;
  padding-bottom: 50px;
}
.img-pro-2 {
  width: 80px;
  height: 80px;
  margin-top: 0px;

}
.msg-info-2 {
  margin-left: 100px;
}
.notif {
  padding: 150px 50px;
}
.notif-card {
  padding: 40px;

}
.msg-info-2 h6 {
  font-size: 16px;
}
.msg-info-2 h5 {
  font-size: 16px;

}
.chat-card {
  height: 220px;
}
.msg-info-33 {

  width: 60%;
}
.notif-card-2 img {
  width: 70px;
  height: 70px;
  margin-top: 10px;
}
.notif-card-2 .msg-info-3 {
  margin-left: 90px;
}
.msg-info-3 h6 {
  color: #748A96;
  font-size: 12px;
  width: 100%;
}
.notif-card-2 {
  padding: 20px;
  margin-bottom: 10px;
}
.notif-scroll-2{
  padding-bottom: 20px;
}
.ipad-margin{
  margin-top: 20px;
}
}
/* end media query for ipad */
/* ************************************************ */
/* start media query for mobile */
@media only screen and (max-width: 600px) {
  .carousel-control-prev {
    left: -10px;
  }
  .carousel-control-next {
    right: -10px;
  }
  footer {
    background-color: #181e82;
    padding: 15px;
    padding-top: 30px;
  }
  .footer-links li {
    margin-right: 26px;
    margin-left: 0;
  }
  .float {
    bottom: 20px;
    right: 25px;
    width: 40px;
    height: 40px;
  }
  .slider-box h3 {
    font-size: 14px;
    line-height: 30px;
    width: 80%;
  }
  .hero-info {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .hero {
    padding: 50px 0;
  }
  .future-box h1 {
    font-size: 19px;
    line-height: 30px;
  }
  .hero-box img {
    width: 300px;
  }
  .future {
    padding: 100px 0;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 50px;
    height: 50px;
  }
  .slider-box q::after,
  .slider-box q::before {
    font-size: 25px;
  }
  .future-box h3 {
    font-size: 14px;
    line-height: 25px;
  }
  .test-head h2 {
    font-size: 25px;
  }
  .iner-content {
    padding: 100px 0;
  }
  .test {
    padding-top: 0px;
    padding-bottom: 150px;
  }
  .custom-search:hover {
    width: 333px;
  }

  .box-hover {
    display: none;
  }
  .footer-links {
    float: left !important;
  }
  .logo-mobile {
    display: block;
  }
  .or::after {
    display: none;
  }

  .signup {
    margin: 150px 20px;
    margin-bottom: 50px;

    padding: 20px 0px;
    background-color: #fff;
  }

  .signup .nav-pills .nav-link{
    padding: 10px 28px;
    margin-bottom: 20px;
    width: 140px;
  }
  
  .sign-form {
    margin-top: 35px;
  }
  .btn-1 {
    padding: 10px 24px;
    margin-bottom: 20px;
  }
  .pp-c{
    padding: 15px;
  }
  .btn-Male, .btn-Female {
    padding: 10px 40px;
    margin-bottom: 30px;
}
.skipe {
  font-size: 12px;
  margin-top: -25px;
}
.last-step small {

  font-size: 8px;
 
}
.last-step h2 {
  font-size: 18px;

}
.sign-input{
  margin-bottom: 10px;
}
.privecy {
  margin: 150px 10px;
}
.term-card {
  padding: 30px;

}
.term h4 {

  line-height: 25px;
}
.notif {
  padding: 150px 0px;
}
.notif-scroll {

  padding-top: 50px;

}
.img-pro-2 {
  width: 50px;
  height: 50px;
}
.msg-info-2 {
  margin-left: 70px;
}
.msg-info-2 h6 span {
  font-size: 12px;
}
.pl-0{
  padding-left: 15px !important;
}
.notif-scroll-2 {
  height: 650px;
}
.notif-scroll-2 {
  margin-top: 270px;
  padding-top: 30px;
}
.msg-list{
  margin-bottom: 20px;
}
.msg-list h3{
  padding: 10px 0;
}
.notif-card-2 img {
  width: 70px;
  height: 70px;

}
.notif-card-2 .msg-info-3 {
  margin-left: 90px;
}
.msg-info-3 h6 {
  font-size: 14px;
  width: 100%;
}
.notif-card-2 {
  padding: 20px;
}
.chat-card {
  height: 100px;
  margin-top: 50px;
}
.msg-info-33 {

  width: 75%;
}
.chat-room {

  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;

}
}
/* end media query for mobile*/
/* ************************************************ */
